<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>悦享</title>
    <link href="./stylesheets/user-base.css" rel="stylesheet">
    <link href="./stylesheets/user-index.css" rel="stylesheet">
    <link href="./stylesheets/user-blog-detail.css" rel="stylesheet">
    <link href="./stylesheets/user-media.css" rel="stylesheet">
    <script src="./jquery/dist/jquery.js"></script>
    <script src="./javascripts/user-blog-detail.js"></script>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
</head>
<body>
<div class="ibody">
    <header>
        <h1>悦 享</h1>
        <h2>记录生活 发现同好</h2>
        <div class="logo"><a href="user-index"></a></div>
        <nav id="topnav"><a href="user-index">首页</a><a href="user-blog">我的文章</a><a href="user-about">关于我</a><a
                href="user-word">留言板</a></nav>
    </header>

    <article>
        <div id="blog-shadow"></div>
        <div id="blog">
            <div id="blog-title">{{blogDetail.blogName}}</div>
            <div id="blog-info"><span>作者：{{user.userName}}
                </span>|<span>日期：{{blogDetail.createdAt}}</span>|<span>分类：{{blogTag.tag}}</span></div>
            <div id="blog-line" class="line-one"></div>
            <div id="blog-content">{{blogDetail.contentHtml}}</div>
            <div id="blog-line"></div>
            <div id="blog-word">
                <div class="word-area">评论：({{blogMessages.length}}个评论)</div>
                <div class="word-line"></div>
                <ul>
                    {{#each blogMessages}}
                        <li>{{blogMessages.message}}</li>
                    {{/each}}
                </ul>
            </div>
    </article>

    <aside>
        <div class="avatar"><a href="user-about"><span>{{user.userName}}</span></a></div>
        <div class="topspaceinfo">
            <h1>{{user.userName}}</h1>
            <p>{{user.userLog}}</p>
        </div>
        <div class="about_c">
            <p>用户名：{{user.userName}}</p>
            <p>ְ职&nbsp&nbsp&nbsp&nbsp业：{{user.userCareer}}</p>
            <p>电&nbsp&nbsp&nbsp&nbsp话：{{user.userPhone}}</p>
            <p>邮&nbsp&nbsp&nbsp&nbsp箱：{{user.userEmail}}</p>
        </div>
        <div class="copyright">
            <ul>
                <p> Design by <a href="/">Anlihuer</a></p>
                <p>2016</p>
                </p>
            </ul>
        </div>
    </aside>

    <div class="clear"></div>
</div>
</body>
</html>
